[Desktop Entry]
Version=0.1.1
Name=Do
Comment=Do is a To Do app for Linux built with Rust and GTK.
TryExec=do-app
Exec=do-app %u
Icon=/usr/share/icons/hicolor/scalable/apps/do.svg
Terminal=false
Type=Application
Categories=ToDo;Network;Productivity;GTK;
MimeType=x-scheme-handler/do;
Keywords=do;todo;microsoft;productivity;